* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-gradient: linear-gradient( hsl(273, 75%, 66%),hsl(240, 73%, 65%)
  );
  --primaryBlue: hsl(238, 29%, 16%);
  --primaryRed: hsl(14, 88%, 65%);
  --grayishBlue: hsl(237, 12%, 33%);
  --grayBlue: hsl(240, 6%, 50%);
  --divider: hsl(240, 5%, 91%);
}

body {
    background: var(--bg-gradient);
    min-height: 100vh;
    font-family: "Kumbh Sans", sans-serif;
  }
  
  .wrapper {
    position: relative;
    background: #ffffff;
    border-radius: 30px;
    margin: 73px 177px 0 177px;
  }
  
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  
  .first-column {
    margin: 39px;
  }
  
  .faq {
    margin-left: 133px;
  }

  .wrapper .card-image {
    height: 100%;
    width: 92%;
    border-radius: 2rem 0 0 2rem;
    background: url("../images/bg-pattern-desktop.svg") no-repeat left;
    background-size: 200%;
    background-position-y: 70%;
    background-position-x: 110%;
  }
  .wrapper .card-image .card-illustration {
    width: 100%;
    height: 100%;
    background: url("../images/illustration-woman-online-desktop.svg") no-repeat left;
    background-size: 110%;
    background-position-x: 200%;
    background-position-y: 40%;
    position: relative;
  }
  .wrapper .card-image .card-illustration::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 8%;
    left: 0;
    transform: translateX(-20%);
    background: url("../images/illustration-box-desktop.svg") no-repeat left;
    background-size: 40%;
  }


.toggler {
  /* position: absolute; */
  width: 12px;
  height: 8px;
  background-image: url("../images/icon-arrow-down.svg");
  display: inline-block;
  background-size: cover;
  right: 18px;
  margin: auto 0 auto 0;
  top: 0;
  bottom: 0;
}
.toggler.active {
  transform: rotate(180deg);
}

.wrapper #faq-content {
  border-radius: 0 2rem 2rem 0;
  padding: 60px 84px 36px 36px;
}
.wrapper #faq-content #accordion {
  width: 100%;
  margin-top: 2rem;
}
.wrapper #faq-content #accordion .faq-item {
  width: 100%;
  border-bottom: 1px solid #e7e7e9;
  padding: 18px 0 18px 0;
  display: flex;
  justify-content: space-between;
}
.wrapper #faq-content #accordion .faq-item .toggler {
  display: flex;
  justify-content: space-between;
  transform: rotate(180deg);
  transition: all 0.1s ease-in-out;
}
.wrapper #faq-content #accordion .faq-item h2 {
  font-weight: 700;
  font-size: 19px;
}
.wrapper #faq-content #accordion .faq-item.hidden p {
  display: none;
}
.wrapper #faq-content #accordion .faq-item.hidden h2 {
  color: grey;
  font-weight: 400;
  font-size: 17px;
}
.wrapper #faq-content #accordion .faq-item.hidden .toggler {
  transform: rotate(0);
}

p.answer {
  margin-top: 14px;
  font-weight: 100;
  color: gray
}

@media screen and (max-device-width: 375px) {
  .card {
    display: block;
  }
  .wrapper {
    margin-left: 12px;
    margin-right: 12px;
    flex-direction: column;
    height: auto;
    margin-top: 150px;
    margin-bottom: 100px;
  }
  .wrapper .card-image {
    width: 100%;
    height: 110px;
    top: -50%;
    background-image: none;
  }
  .wrapper .card-image .card-illustration {
    background: url("../images/bg-pattern-mobile.svg") no-repeat center;
    height: 120px;
    width: 266px;
    background-position: center;
    background-position-y: 0;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper .card-image .card-illustration::before {
    background: url("../images/illustration-woman-online-mobile.svg") no-repeat center;
    width: 266px;
    height: 196px;
    top: -90%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-5%);
  }
  .wrapper #faq-content {
    width: 100%;
    height: auto;
    padding: 24px 24px 48px 24px;
  }
  .wrapper #faq-content h1 {
    text-align: center;
  }
  .wrapper #faq-content .faq-item .toggler {
    right: 0;
  }
  .wrapper #faq-content #accordion .faq-item.hidden h2 {
    font-size: 14px;
}
.wrapper #faq-content #accordion .faq-item h2 {
  font-weight: bold;
  font-size: 14px;
}
p.answer {
  font-size: 13px;
  line-height: 1.5;
}
}